.footer {
  width: 100%;
  background-color: #910e00;
  position: relative;
}
.footer-slice {
  background-color: brown;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}
.footer-cool {
  margin: 40px 0px;
  width: 90%;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.cool {
  text-align: center;
  padding: 10px;
}
.cool h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  color: white;
}
.cool .cool-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.cool-sub {
  text-align: center;
}
.cool-sub h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  color: white;
}
.footer-links {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.footer-link {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: snow;
}
